@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");


:root {
    --zwart: #0f212e;
    --witblauw: #d1e3f0;
    --wit: #eaf2ef;
    --grijs: #6b6d76;
    --dblauw: #28587b;
    --lblauw: #0f95b0;
    --geel: #ffa630;
    --rood: #e65039;
    --groen: #06c749
}


body {
    margin: 0;
    height: 100vh;
    font-family: "Lexend", "Montserrat", "Inter", "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

#header {
    padding: 15px;
    background: var(--zwart);
    height: fit-content;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation-delay: 1s;
    color: var(--wit);
    z-index: 100;
    gap: 20px;
}

#title {
    font-size: 2em;
    font-variant: small-caps;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 15px;
    flex-wrap: wrap;
}

.menu-item {
    transition: all 100ms ease;
    text-decoration: none;
    color: var(--wit);
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

#content {
    padding: 15px;
    flex-grow: 1;
}


#footer {
    padding: 15px;
    background: var(--zwart);
    height: fit-content;
    position: sticky;
    top: 0;
    left: 0;
    animation-delay: 1s;
    color: var(--wit);
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}
#footer p {
    margin: 0;
}

#footer a {
    color: var(--witblauw);
}

.menuitemslide {
    height: 100%;
    width: 0%;
    background: var(--zwart);
    transition: 300ms all cubic-bezier(0.65, 0.05, 0.36, 1);
    z-index: 50;
    position: absolute;
    border-radius: 0.5em;
}

.menuitemtext {
    position: relative;
    z-index: 100;
    transition: 400ms all ease;
    font-weight: 700;
    padding: 20px;
}

.menu-item:hover > .menuitemslide, .menu-item.active > .menuitemslide {
    background: var(--witblauw);
    width: 100%;
}

.menu-item:hover > .menuitemtext, .menu-item.active > .menuitemtext {
    color: var(--dblauw);
}