
.itemrij {
    display: flex;
    flex-direction: row;
    background: white;
    padding: 15px;
    flex-grow: 1;
    border-bottom: solid 1px var(--dblauw);
    align-items: center;
    justify-content: flex-start;
    gap: 2%;
}

#content {
    display: flex;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}


.vannaar-label {
    font-weight: 300;
    color: var(--grijs);
}

.stationvn {
    font-weight: 600;
    font-size: 1.2em;
}

.stationvn.onbelangrijk {
    font-weight: 300;
    font-size: 1.1em;
}



.vertragingsinfo {
    color: var(--rood);
    font-weight: 700;
}


.treinCat {
    font-weight: 600;
}

.spoor {
    font-size: 1.15em;
    font-weight: 500;
}

.itemrij.vervallen {
    color: var(--rood);!;!i;!;
    font-style: italic;
}

.via-container {
    font-size: 0.9em;
    font-weight: 300;
}

.spoor.verandering {
    color: var(--rood);
    font-weight: 700;
}

.links {
    min-width: 5%;
}

.rechts {
    flex-grow: 1;
    text-align: end;
}

.middenrij {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}


.treinen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.treinmetinfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.bericht {
    font-weight: 700;
}

.bericht.INFO {
    color: var(--dblauw);
}

.bericht.WARNING {
    color: var(--rood);
}

.vannaar-label.vervallen {
    color: var(--rood);
}