#main-container {
    background: var(--grijs);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2px;
    max-width: 90%;
    flex-grow: 1;
}


.itemrij {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 10px;
    flex-grow: 1;
}

#content {
    display: flex;
    align-items: stretch;
    align-content: center;
    justify-content: center;
}

.toprij {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
}

.vannaar-label {
    font-weight: 300;
    color: var(--grijs);
}

.stationvn {
    font-weight: 600;
    font-size: 1.2em;
}

.stationvn.onbelangrijk {
    font-weight: 300;
    font-size: 1.1em;
}


.toprijrechts {
    flex-grow: 1;
    text-align: end;
}