#content {
    display: flex;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

#pageheader {
    font-size: 1.5em;
    font-weight: 500;
}

#stationbenadruk {
    font-weight: 800;
}

.itemrij {
    display: flex;
    flex-direction: row;
    background: white;
    padding: 15px;
    flex-grow: 1;
    border-bottom: solid 1px var(--grijs);
    align-items: center;
    justify-content: flex-start;
    gap: 1%;
}

.itemrij:last-child {
    border-bottom: none !important;
}

.itemrij.vervallen {
    color: var(--rood);
    font-style: italic;
}


.tijdinfo {
    min-width: min(20%, 75px);
    text-align: center;
}

.vertragingsinfo {
    color: var(--rood);
    font-weight: 700;
}


.maincontainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 15px;
    flex-grow: 1;
}

.maintext {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    gap: 1em;
    flex-wrap: wrap;
}

.treinCat {
    font-weight: 600;
}

.vannaar-label {
    font-weight: 300;
    color: var(--grijs);
}

.vannaar-label.vervallen {
    color: var(--rood);
}

.stationvn {
    font-weight: 600;
    font-size: 1.2em;
}

.stationvn.onbelangrijk {
    font-weight: 300;
    font-size: 1.1em;
}

.via-container {
    font-size: 0.9em;
    font-weight: 300;
}

.spoor {
    font-size: 1.15em;
    font-weight: 500;
}


.spoor.verandering {
    color: var(--rood);
    font-weight: 700;
}

.treinen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.treinmetinfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.treinmetinfo img {
    height: 1.5em;
}

.errortext {
    color: var(--grijs);
    font-style: italic;
    padding: 0 1em 0 0;
}


.berichten {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    align-items: stretch;
    justify-content: flex-start;
}

.bericht {
    font-weight: 700;
    padding: 0.5em;
    color: white;
    border-radius: 0.5em;
}

.bericht.INFO {
    background: var(--dblauw);
}

.bericht.WARNING {
    background: var(--rood);
}

.itemrij.vervallen .bericht {
    background: var(--rood) !important;
}