{% extends "meliag/meliag_base.html" %}

{% block title %}Home{% endblock %}
{% set active_page = "home" %}

{% block headers %}
<link rel="stylesheet" href="{{ url_for('static', filename='meliag/meliag_home.css') }}">
{% endblock %}


{% block content %}
<h1>Welkom!</h1>
<br>
<p>Dit is een site die ik aan het maken ben die gegevens over treinen op een 'betere' manier laat zien.</p>
<p>Data komt van de <a href="https://apiportal.ns.nl/" target="_blank">NS API</a> en misschien in de toekomst van <a href="https://ndovloket.nl/" target="_blank">NDOV</a>.</p>
<br>
<strong>Bekijk de <a href="https://github.com/Gijs6/site" target="_blank">broncode op GitHub</a></strong>
{% endblock %}