{% extends "meliag/meliag_base.html" %}

{% block title %}Kaart{% endblock %}
{% set active_page = "kaart" %}

{% block headers %}
<link rel="stylesheet" href="{{ url_for('static', filename='meliag/meliag_kaart.css') }}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
{% endblock %}


{% block content %}
<div id="map"></div>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script>
        const map = L.map('map').setView([52.3676, 4.9041], 8);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        async function fetchTreinen() {
            const response = await fetch('/meliag/api/pos');
            const data = await response.json();

            if (data.payload && data.payload.treinen) {
                data.payload.treinen.forEach(trein => {
                    const lat = trein.lat;
                    const lon = trein.lng;
                    const type = trein.type;

                    L.marker([lat, lon]).addTo(map)
                        .bindPopup(`
                            <b>Type:</b> ${type}<br>
                            <b>Rit ID:</b> ${trein.ritId}<br>
                            <b>Snelheid:</b> ${trein.snelheid.toFixed(1)} km/u<br>
                            <b>Richting:</b> ${trein.richting.toFixed(2)}°
                        `);
                });
            } else {
                console.error("Geen treinlocaties beschikbaar");
            }
        }

        fetchTreinen();

    </script>
{% endblock %}