<!DOCTYPE html>
<html lang=nl>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Meliag - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='meliag/meliag_base.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='meliag/fav.ico') }}">
        <script src="https://kit.fontawesome.com/4a94c21782.js" crossorigin="anonymous"></script> <!-- FontAwesome -->
        {% block headers %}{% endblock %}
    </head>
    <body>
        <div id="header">
            <div id="title">
                Meliag
                <img src="{{ url_for('static', filename='meliag/Loogootje.svg') }}" height="40">
            </div>
            <div id="menu">
                <a class="menu-item {% if active_page == 'home' %}active{% endif %}" href="/meliag">Home</a>
                <a class="menu-item {% if active_page == 'kaart' %}active{% endif %}" href="/meliag/kaart">Kaart</a>
                <a class="menu-item {% if active_page == 'colofon' %}active{% endif %}" href="/meliag/colofon">Colofon</a>
            </div>
        </div>

        <div id="content">{% block content %}{% endblock %}</div>

        <div id="footer">
            <p>Gemaakt door <a href="/" target="_blank">Gijs</a></p>
            <p>Data uit de <a href="https://apiportal.ns.nl" target="_blank">NS API</a></p>
            <p>Alle originele website-inhoud en code, is <strong>volledig vrijgegeven in het publieke domein zonder enige vorm van auteursrecht</strong>, in overeenstemming met de <a href="https://unlicense.org/" target="_blank">Unlicense</a> en <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC0</a> (externe bronnen kunnen onder andere licentievoorwaarden en auteursrechten vallen)</p>
            <p>Gemaakt met <a href="https://github.com/pallets/flask" target="_blank">Flask</a> en <a href="https://github.com/pallets/jinja" target="_blank">Jinja</a>, gehost door <a href="https://eu.pythonanywhere.com/" target="_blank">PythonAnwyhere</a></p>
            <p>Bekijk de <a href="https://github.com/Gijs6/Meliag" target="_blank">broncode op GitHub</a></p>
            <p><a href="/meliag/colofon">Colofon</a></p>
        </div>
    </body>
</html>