<!DOCTYPE html>
<html lang=nl>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Meliag - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='meliag/meliag_base.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='meliag/fav.ico') }}">
        <script src="https://kit.fontawesome.com/4a94c21782.js" crossorigin="anonymous"></script> <!-- FontAwesome -->
        <meta name="robots" content="noindex">
        {% block headers %}{% endblock %}
    </head>
    <body>
        <div id="header">
            <div id="title">
                Meliag
                <img src="{{ url_for('static', filename='meliag/Loogootje.svg') }}" height="40">
            </div>
            <div id="menu">


                <div class="menuitemcontainer">
                    <a class="menu-item {% if active_page == 'home' %}active{% endif %}" href="/meliag">
                        <span class="menuitemtext">Home</span>
                        <div class="menuitemslide"></div>
                    </a>
                </div>

                <div class="menuitemcontainer met-submenu">
                    <a class="menu-item {% if active_page in ['treintijden', 'treintijdenzoeken'] %}active{% endif %}" href="/meliag/treintijden">
                        <span class="menuitemtext">Treintijden</span>
                        <div class="menuitemslide"></div>
                    </a>


                    <div class="onzichtbarehoverzooi">
                        <div class="submenucontainer">
                            <span id="submenuheadertekst">
                                Kies een station
                            </span>
                            <a href="/meliag/treintijden/Ut" class="submenuitem">
                                Utrecht Centraal
                            </a>
                            <a href="/meliag/treintijden/Asd" class="submenuitem">
                                Amsterdam Centraal
                            </a>
                            <a href="/meliag/treintijden/Rtd" class="submenuitem">
                                Rotterdam Centraal
                            </a>
                            <a href="/meliag/treintijden/Shl" class="submenuitem">
                                Schiphol Airport
                            </a>
                            <a href="/meliag/treintijden/Gvc" class="submenuitem">
                                Den Haag Centraal
                            </a>
                            <a href="/meliag/treintijden/Ledn" class="submenuitem">
                                Leiden Centraal
                            </a>
                            <a href="/meliag/treintijden/Ehv" class="submenuitem">
                                Eindhoven Centraal
                            </a>
                            <a href="/meliag/treintijden/Asdz" class="submenuitem">
                                Amsterdam Zuid
                            </a>
                            <a href="/meliag/treintijden/Ht" class="submenuitem">
                                s-Hertogenbosch
                            </a>
                            <a href="/meliag/treintijden/Ass" class="submenuitem">
                                Amsterdam Sloterdijk
                            </a>
                            <a href="/meliag/treintijden/Amf" class="submenuitem">
                                Amersfoort Centraal
                            </a>
                            <a href="/meliag/treintijden/Zl" class="submenuitem">
                                Zwolle
                            </a>
                            <a href="/meliag/treintijden/Ah" class="submenuitem">
                                Arnhem Centraal
                            </a>
                            <a href="/meliag/treintijden/Nm" class="submenuitem">
                                Nijmegen
                            </a>
                            <a href="/meliag/treintijden/Hlm" class="submenuitem">
                                Haarlem
                            </a>
                            <a href="/meliag/treintijden" class="submenuitem" id="extra-overige-stations">
                                Bekijk alle stations
                            </a>
                        </div>
                    </div>
                </div>





                <div class="menuitemcontainer">
                    <a class="menu-item {% if active_page == 'kaart' %}active{% endif %}" href="/meliag/kaart">
                        <span class="menuitemtext">Kaart</span>
                        <div class="menuitemslide"></div>
                    </a>
                </div>

                <div class="menuitemcontainer">
                    <a class="menu-item {% if active_page == 'colofon' %}active{% endif %}" href="/meliag/colofon">
                        <span class="menuitemtext">Colofon</span>
                        <div class="menuitemslide"></div>
                    </a>
                </div>


            </div>
        </div>

        <div id="content">{% block content %}{% endblock %}</div>

        <div id="footer">
            <p>Gemaakt door <a href="/" target="_blank">Gijs</a></p>
        </div>
    </body>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const menuItemsLijst = document.querySelectorAll('.menuitemcontainer.met-submenu');
            const onzichtbarehoverzooien = document.querySelectorAll('.onzichtbarehoverzooi');

            menuItemsLijst.forEach((menuItem, index) => {
                const onzichtbarehoverzooi = onzichtbarehoverzooien[index];


                function hideOnHover() {
                    if (!menuItem.matches(':hover') && !onzichtbarehoverzooi.matches(':hover')) {
                        onzichtbarehoverzooi.classList.add("sluiten");
                        setTimeout(() => {
                            onzichtbarehoverzooi.style.display = "none";
                            onzichtbarehoverzooi.classList.remove("sluiten");
                            showOnHover();
                        }, 300);

                    }
                }

                function showOnHover() {
                    if (menuItem.matches(':hover') || onzichtbarehoverzooi.matches(':hover')) {
                        setTimeout(() => {
                            if (menuItem.matches(':hover') || onzichtbarehoverzooi.matches(':hover')) {
                                onzichtbarehoverzooi.style.display = "block";
                            }
                        }, 150);
                    }
                }

                menuItem.addEventListener('mouseleave', hideOnHover);
                onzichtbarehoverzooi.addEventListener('mouseleave', hideOnHover);
                menuItem.addEventListener('mouseenter', showOnHover);
                onzichtbarehoverzooi.addEventListener('mouseenter', showOnHover);
            });
        });
    </script>
</html>