<!DOCTYPE html>
<html lang=nl>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Meliag - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='meliag/meliag_base.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='meliag/fav.ico') }}">
        <script src="https://kit.fontawesome.com/4a94c21782.js" crossorigin="anonymous"></script> <!-- FontAwesome -->
        {% block headers %}{% endblock %}
    </head>
    <body>
        <div id="header">
            <div id="title">
                Meliag
                <img src="{{ url_for('static', filename='meliag/Loogootje.svg') }}" height="40">
            </div>
            <div id="menu">
                <a class="menu-item {% if active_page == 'home' %}active{% endif %}" href="/meliag">Home</a>
                <a class="menu-item {% if active_page == 'kaart' %}active{% endif %}" href="/meliag/kaart">Kaart</a>
                <a class="menu-item {% if active_page == 'treintijden' %}active{% endif %}" href="/meliag/treintijden">Treintijden</a>
                <a class="menu-item {% if active_page == 'colofon' %}active{% endif %}" href="/meliag/colofon">Colofon</a>
            </div>
        </div>

        <div id="content">{% block content %}{% endblock %}</div>

        <div id="footer">
            <p>Gemaakt door <a href="/" target="_blank">Gijs</a></p>
        </div>
    </body>
</html>