{% extends "meliag/meliag_base.html" %}

{% block title %}Treintijden{% endblock %}
{% set active_page = "treintijden" %}

{% block headers %}
<link rel="stylesheet" href="{{ url_for('static', filename='meliag/meliag_treintijden.css') }}">
<script src="https://kit.fontawesome.com/4a94c21782.js" crossorigin="anonymous"></script>
{% endblock %}




{% block content %}
    <span id="pageheader">
        Vertrek- en aankomsttijden voor <span id="stationbenadruk">{{ volledigestationsnaam }}</span>
    </span>
    {% for item in data %}
    <div class="itemrij {% if item.vervallen %}vervallen{% endif %}">
        <div class="links">
                {% if item.vertragingAankomst and not item.vertragingVertrek %}
                    {{ item.echteAankomstTijd }} (<span class="vertragingsinfo">+{{ item.vertragingAankomst }}</span>)<br>{{ item.echteVertrekTijd }}
                {% elif item.vertragingVertrek and not item.vertragingAankomst %}
                    {{ item.echteAankomstTijd }}<br>{{ item.echteVertrekTijd }} (<span class="vertragingsinfo">+{{ item.vertragingVertrek }}</span>)
                {% else %}
                    {{ item.echteAankomstTijd }}<br>{{ item.echteVertrekTijd }}
                {% endif %}
            </div>
        <div class="middenrij">
            <div class="toprijmidden">
                <div class="treinCat">
                    {{ item.groteCat }} {{ item.ritnummer }}
                </div>
                <div class="van-naar-container">
                    {% if item.stationVan and not item.stationNaar %}
                        <!-- Dit station is eindpunt -->
                        <span class="vannaar-label {% if item.vervallen %}vervallen{% endif %}">VAN</span> <span class="stationvn van">{{ item.stationVan }}</span> <img src="{{ url_for('static', filename='meliag/Eindstation.svg') }}" height="10"> <span class="vannaar-label {% if item.vervallen %}vervallen{% endif %}">NAAR</span> <span class="stationvn naar onbelangrijk">dit station</span>
                    {% elif not item.stationVan and item.stationNaar %}
                        <!-- Dit station is beginpunt -->
                        <span class="vannaar-label {% if item.vervallen %}vervallen{% endif %}">VAN</span> <span class="stationvn van onbelangrijk">dit station</span> <img src="{{ url_for('static', filename='meliag/Beginstation.svg') }}" height="10"> <span class="vannaar-label {% if item.vervallen %}vervallen{% endif %}">NAAR</span> <span class="stationvn naar">{{ item.stationNaar }}</span>
                    {% elif item.stationVan and item.stationNaar %}
                        <!-- Dit station is tussenstation -->
                        <span class="vannaar-label {% if item.vervallen %}vervallen{% endif %}">VAN</span> <span class="stationvn van">{{ item.stationVan }}</span> <img src="{{ url_for('static', filename='meliag/Tussenstation.svg') }}" height="10"> <span class="vannaar-label {% if item.vervallen %}vervallen{% endif %}">NAAR</span> <span class="stationvn naar">{{ item.stationNaar }}</span>
                    {% else %}
                        GEEN STATIONS?
                    {% endif %}
                </div>
                <div class="via-container">
                    {% if item.stationsOpDeRoute %}
                        Via {{ item.stationsOpDeRoute | join(', ') }}
                    {% endif %}
                </div>
            </div>
            <div class="treinen">
                {% for trein in item.matlijst %}
                    <div class="treinmetinfo">
                        {% if trein.afb_url %}
                            <img src="{{ trein.afb_url }}" alt="Afbeelding van een {{ trein.mat }}" height="35">
                        {% else %}
                            <span class="errortext">Geen afbeelding beschikbaar</span>
                        {% endif %}
                        {% if trein.mat %}
                            <span class="treininfotekst">{{ trein.mat }} {{ trein.matnum }}
                            {% for faciliteit in trein.faciliteiten_iconen %}
                                <i class="{{ faciliteit }}"></i>
                            {% endfor %}
                            </span>
                        {% else %}
                            <span class="errortext">Geen materieelinformatie beschikbaar</span>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% if item.berichten %}
                <div class="berichten">
                    {% for bericht in item.berichten %}
                        <div class="bericht {{ bericht.style }}">
                            {{ bericht.message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="rechts">
            {% if not item.echtVertrekSpoor %} <!-- Als er geen vertrekspoor is -->
                {% if item.geplandAankomstSpoor != item.echtAankomstSpoor %}
                    <span class="spoor verandering">Spoor {{ item.echtAankomstSpoor }} ipv {{ item.geplandAankomstSpoor }}</span>
                {% else %}
                    <span class="spoor normaal">Spoor {{ item.echtAankomstSpoor }}</span>
                {% endif %}
            {% elif not item.echtAankomstSpoor %} <!-- Als er geen aankomstspoor is -->
                {% if item.geplandVertrekSpoor != item.echtVertrekSpoor %}
                    <span class="spoor verandering">Spoor {{ item.echtVertrekSpoor }} ipv {{ item.geplandVertrekSpoor }}</span>
                {% else %}
                    <span class="spoor normaal">Spoor {{ item.echtVertrekSpoor }}</span>
                {% endif %}
            {% else %} <!-- Als er zowel vertreksporen als aankomstsporen zijn -->
                {% if item.geplandVertrekSpoor != item.echtVertrekSpoor %}
                    <span class="spoor verandering">Spoor {{ item.echtVertrekSpoor }} ipv {{ item.geplandVertrekSpoor }}</span>
                {% else %}
                    <span class="spoor normaal">Spoor {{ item.echtVertrekSpoor }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
{% endblock %}