<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}{% endblock %}
        - Meliag</title>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='styles/base.css') }}" />
        <link rel="icon"
              type="image/x-icon"
              href="{{ url_for('static', filename='images/fav.ico') }}" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
              rel="stylesheet" />
        <script src="https://kit.fontawesome.com/4a94c21782.js"
                crossorigin="anonymous"></script>
        {% block extra_headers %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="header-logo">
                <img src="{{ url_for('static', filename='logoset/full_bg-trans_white.png') }}" />
            </div>
            {% macro menu_item(endpoint, name) %}
                <a href="{{ url_for(endpoint) }}"
                   class="menu-item{% if request.endpoint == endpoint %} menu-item-active{% endif %}">{{ name }}</a>
            {% endmacro %}
            <nav class="header-menu">
                {{ menu_item('index', 'Index') }}
                {{ menu_item('station_search', 'Stations') }}
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <span class="footer-logo">Meliag</span>
            <span class="footer-info">Data may be delayed or incomplete.</span>
        </footer>
        <script src="//instant.page/5.2.0"
                type="module"
                integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>
    </body>
</html>
