{% if stock.materieeldelen %}
    <div class="train-stock-composition">
        {% for car in stock.materieeldelen %}
            <div class="train-stock-car">
                <img src="{{ car.afbeelding }}" class="train-stock-car-image" />
                <div class="train-stock-car-info">
                    <div class="train-stock-car-data">
                        <span class="train-stock-car-type">{{ car.type }}</span>
                        <span class="train-stock-car-number">{{ car.materieelnummer }}</span>
                    </div>
                    {% if car.faciliteiten %}
                        {% set facility_icons = {
                            "WIFI": "fa-solid fa-wifi",
                            "TOILET": "fa-solid fa-toilet-paper",
                            "STILTE": "fa-solid fa-ear-deaf",
                            "STROOM": "fa-solid fa-plug",
                            "FIETS": "fa-solid fa-bicycle",
                            "TOEGANKELIJK": "fa-solid fa-wheelchair"
                        } %}
                        <div class="train-stock-car-facilities">
                            {% for facility in car.faciliteiten %}
                                {% set icon = facility_icons.get(facility) %}
                                {% if icon %}
                                    <span class="train-stock-facility train-stock-facility-{{ facility | lower }}">
                                        <i class="{{ icon }}"></i>
                                    </span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="train-stock-info">
        <div class="train-stock-length">
            <i class="fa-solid fa-arrow-left"></i>
            <span class="train-stock-length-center-info">
                <i class="fa-solid fa-minus"></i>
                <span class="train-stock-length-label">{{ stock.lengteInMeters }} m</span>
                <i class="fa-solid fa-minus"></i>
            </span>
            <i class="fa-solid fa-arrow-right"></i>
        </div>
    </div>
{% endif %}
