main {
    padding: 0 !important;
}

.trains-header {
    min-height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    isolation: isolate;
    padding: 20px 30px;
}

.trains-header h1 {
    color: white;
    mix-blend-mode: difference;
    font-size: 7em;
    font-weight: 800;
    text-shadow: 5px 5px var(--oc-gray-4);
    hyphens: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.trains-container {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 900px;
    max-width: 100%;
    margin: auto;
}

.train {
    border-bottom: 1px solid var(--oc-gray-3);
    padding: 20px;
    display: grid;
    grid-template-areas:
        "times meta track"
        "times route track"
        "times via track"
        "times stock track"
        "times messages track";
    grid-template-columns: 75px 1fr 50px;
    align-items: center;
    column-gap: 10px;
    grid-template-rows: auto auto auto auto;
}

.train-cancelled {
    background: var(--oc-red-1);
}

.train-cancelled .train-metadata,
.train-cancelled .train-route {
    text-decoration: line-through 2px var(--oc-red-9);
}

.train-times {
    grid-area: times;
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5px;
}

.train-time-arrival,
.train-time-departure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.train-track-arrival,
.train-track-departure {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.train-time-arrival {
    color: var(--oc-gray-6);
    font-weight: 400;
    font-size: 0.9em;
}

.train-time-arrival-delay,
.train-time-departure-delay {
    font-size: 0.8em;
}

.train-time-arrival-delay,
.train-time-departure-delay,
.train-time-outdated,
.train-track-outdated {
    color: var(--oc-red-6);
    font-weight: 600;
}

.train-time-outdated {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.train-metadata {
    grid-area: meta;
    font-size: 0.9em;
    color: var(--oc-gray-6);
}

.train-metadata-train-type {
    font-weight: 700;
}

.train-route {
    grid-area: route;
    font-size: 1.1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.train-route-origin {
    font-weight: 600;
    color: var(--oc-gray-7);
}

.train-route-direction {
    font-weight: 800;
    color: black;
}

.train-route-thisstation {
    color: var(--oc-green-8);
}

.train-via {
    grid-area: via;
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.train-via-header {
    font-weight: 600;
}

.train-via-station {
    color: inherit;
}

.train-via-station,
a.train-route-direction,
a.train-route-origin {
    text-decoration: 2px underline var(--oc-blue-3);
}

.train-via-station:hover,
a.train-route-direction:hover,
a.train-route-origin:hover {
    color: var(--oc-blue-9);
}

.train-stock {
    grid-area: stock;
    width: fit-content;
    margin-top: 5px;
}

.train-stock-composition {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.train-stock-car-image {
    height: 1.25em;
    width: auto;
}

.train-stock-car-info {
    font-size: 0.9em;
    text-align: center;
    margin-top: 2.5px;
}

.train-stock-car-number {
    font-weight: 700;
}

.train-stock-length {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    font-size: 0.9em;
    color: var(--oc-gray-5);
}

.train-stock-length-center-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5px;
}

.train-messages {
    grid-area: messages;
    align-self: start;
}

.train-messages-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2.5px 5px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.train-message {
    background: var(--oc-teal-7);
    padding: 5px 10px;
    color: white;
    font-weight: 700;
    width: fit-content;
}

.train-message-info {
    background: var(--oc-blue-8);
}

.train-message-warning {
    background: var(--oc-red-9);
}

.train-track {
    grid-area: track;
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

s {
    display: inline-block;
}
